/* importa a fonte */
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Jersey+15&display=swap');

/* Reseta o estilo das listas */
ul, ol { list-style: none; }
img { max-width: 100%; -webkit-user-drag: none; }

/* Todos os botões resetam */
button, input {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--c1);
}

:root {
    --cs: 86px; /* Coffee Size */
}

/* Põe a fonte global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 15", sans-serif;
    font-style: normal;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: manipulation; /* Essa linha previne double-tap zoom no celular */
}

/* Quando está no modo matrix, as variáveis mudam para um tom de verde */
body.matrix {
    --c1: #6ad48a;
    --c2: #418a59;
    --c3: #17402d;
    --c4: #163629;
    --c5: #0e2b1b;
    --c6: #002f14;
}

/* Quando está no modo evil, as variáveis mudam para um tom de vermelho */
body.evil {
    --c1: #d46a6a;
    --c2: #8a4141;
    --c3: #401717;
    --c4: #381111;
    --c5: #2b0e0e;
    --c6: #2f0000;
}

/* O estilo do body, onde dentro do body tem o container */
body {
    --c1: #6ACBD4;
    --c2: #41798A;
    --c3: #172740;
    --c4: #111e38;
    --c5: #0E192B;
    --c6: #00162f;

    --high: #b63737;
    --low: #248b24;

    --c1b: 3px solid var(--c1);

    background: url("./assets/background.png");
    background-position: -3px;
    background-size: 47.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
    color: var(--c1);
    height: 100vh;
    user-select: none;
}

/* O elemento principal */
main {
    margin: 0 auto;
    max-width: 1000px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.table {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    min-height: 150px;
    height: 33vh;
    background-color: var(--c6);
    z-index: -1;
    transition: box-shadow .5s ease;
}

body.matrix .table {
    overflow: hidden;
    opacity: .8;
    background-position: 0 100%;
    background: linear-gradient(to bottom, #00e20093 0%, 2.86624%, rgb(3, 110, 21) 5.73248%, 12.7389%, rgb(0, 64, 18) 19.7452%, 22.9299%, rgb(0, 56, 19) 26.1146%, 63.0573%, rgb(0, 47, 20) 100%);
    /* box-shadow: inset 0 20px 50px #00e20093 */
}

/* O container que envolve a seção da esquerda */
.container-left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/* Contém os textos do container da esquerda */
.container-left--header {
    text-shadow: 3px 3px 2px black;
    display: flex;
    flex-direction: column;
}

/* Contém o computador */
.container-left--computer {
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-height: 400px;
}

/* Muda a cor do computador apra um tom de verde */
body.matrix .container-left--computer {
    filter: hue-rotate(300deg) contrast(0.95)
}

/* Muda a cor do computador apra um tom de verde */
body.evil .container-left--computer {
    filter: hue-rotate(140deg) contrast(1.2);
}

.computer-monitor { background: url("./assets/monitor.png");}
.computer-back { background: url("./assets/fundo_monitor.png"); }
.computer-keyboard { background: url("./assets/teclado.png"); transition: all .1s ease;}

/* Ainda será implementado algum tipo de luz saindo do monitor */

/* Cada um dos componentes do computador */
.computer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0;
    pointer-events: none;
}

/* Nome da empresa */
.company-text {
    color: var(--c2);
    cursor: pointer;
    font-size: 1.3em;
    transition: color .1s ease, text-shadow .1s ease;
}

/* Adiciona um pequeno brilho quando active */
.company-text:active {
    color: white;
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--c2), 0 0 40px var(--c2), 0 0 50px var(--c2), 0 0 60px var(--c2), 0 0 70px var(--c2); */
}

/* Área de fato clicável do teclado */
.computer-hitbox {
    position: absolute;
    left: 10%;
    bottom: 0;
    right: 10%;
    top: 75%;
    pointer-events: auto;
    cursor: pointer;
    outline: none;
}

/* Deixa levemente maior ao clicar */
/* .computer-hitbox:active ~ .computer-keyboard { transform: scale(1.05); } */
.pulinho { animation: pop .2s ease; }


/* SALSICHINHAS */

.computer-codelines {
    pointer-events: all;
    top: 10.7%;
    max-width: 270px;
    width: 63%;
    height: 41.2%;
    display: grid;
    grid-template-rows: repeat(30, 1fr);
    gap: 2px;
}

.code-line-wrapper {
    --fs: .2em;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.code-line {
    height: 100%;
    flex: 1;
    display: flex;
    gap: 2px;
    margin-left: 0;
}

.line-number {
    position: absolute;
    margin-left: 2px;
    font-family: monospace;
    font-size: var(--fs);
    color: var(--c2);
}

.code-block {
    /* height: calc(var(--fs)/2); */
    background-color: #008080;
    border-radius: 3px;
    transition: width 0.3s;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.ls-text { font-size: 1.5em; }

.clicks-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 20;
}

.click {
    --time: 4s;
    position: absolute;
    transform: translate(-50%, -90%);
    transition: opacity var(--time) linear, transform var(--time) linear;
}

.fading-up {
    opacity: 0;
    transform: translate(-50%, -2000%);
}

/* O container que envolve a seção da direita */
.container-right {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 10px;
    border: var(--c1b);

    flex-basis: 400px;
    background-color: var(--c4);
    max-height: 600px;
    height: 90dvh;
    /* overflow-y: hidden; */
}

/* Quando o efeito de matrix estiver ativo, haverá uma pequena opacidade no fundo */
body.matrix .container-right, body.evil .container-right {
    background-color: color-mix(in srgb, var(--c4) 80%, transparent);
}

/* Onde estão os botões para torcar entre abas */
.container-right--header {
    margin: -1em;
    display: flex;
    flex-direction: row;
}

/* Conteúdo do cotainer da direita */
.container-content {
    overflow-y: auto;
    margin-top: 2em;
}

/* Modifica a barra de rolagem */
.container-content::-webkit-scrollbar { 
    background-color: transparent;
    width: 5px;
}

.container-content::-webkit-scrollbar-thumb { 
    background-color: var(--c1);
    border-radius: 10px;
 }

/* Lista que armazena os upgrades/estruturas */
.content-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* Cada um dos items da lista */
.content-item {
    --time: .8s;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4em;
    padding: .5em;
    border-radius: 5px;
    border: var(--c1b);
    background-color: var(--c3);
    font-weight: bold;
    cursor: pointer;
    opacity: .5;
    transition: opacity .1s linear;
}

/* Deixa a opacidade normal ao ser desbloqueado (e puder ser comprado) */
.content-item.unlocked:not(:has(.high)) { opacity: 1; }

/* Deixa levemente transparente enquanto está no modo matrix */
body.matrix .content-item, body.evil .content-item { background-color: color-mix(in srgb, var(--c3) 80%, transparent); }

.item-icon {
    aspect-ratio: 1/1;
    width: 50px;
    transition: opacity var(--time) linear, filter 1s linear;
}

/* Deixa o icone preto enquanto ele nao for desbloqueado */
.content-item.hidden .item-icon {
    filter: brightness(0);
    opacity: .7;
}

.item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    text-shadow: 3px 3px 2px black;
}

/* Textos para a estrutura */
.item-purchased { font-size: 1.8em; color: var(--c2);}
.item-name { font-size: 1.3em; text-align: left; }
.high { color: var(--high);}
.low { color: var(--low);}

.info-bttn {
    display: none;
    visibility: hidden;

    align-self: stretch;
    /* background-color: var(--c2); */
    padding: 0 .5em;
    border: var(--c1b);
    border-radius: 5px;
}

/* Os botões que ficam para trocar entre a aba de upgrades e de estruturas */
/* Todos eles, no principio, ficam com essa aparência de "apagados" */
.button-header {
    position: relative;
    font-size: 1.2em;
    text-transform: uppercase;
    flex-grow: 1;
    padding: 1em;
    color: var(--c2);
    background-color: var(--c5);
    border-bottom: 3px solid black;
    transition: color .2s ease;
}

.button-header.left {
    border-radius: 10px 0 0 0;
}

.button-header.right {
    border-radius: 0 10px 0 0;
}

.notification {
    opacity: 0;
    transition: opacity .2s linear;
}

.button-header.has-notification:not(.active) .notification {
    opacity: 1;
    animation: bounce 1s;
}

/* Bounce effect para a notificaçãozinha */
/* @keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-20px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
} */

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-8px);}
}

.notification {
    aspect-ratio: 1/1;
    width: .8em;
    border-radius: 50%;
    background-color: #ad0909;
    right: 5px;
    top: 5px;
    position: absolute;
}

.notification::after {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: .7em;
    content: '!';
}

body.matrix .button-header, body.evil .button-header {
    background-color: color-mix(in srgb, var(--c5) 80%, transparent);
}

/* Quando são ativos, a cor fica igual a do fundo e a fonte tbm fica mais "viva" */
.button-header.active {
    color: var(--c1);
    background-color: var(--c4);
    border-bottom: none;
}

body.matrix .button-header.active, body.evil .button-header.active { background-color: transparent; }

.button-header.left.active { border-right: 3px solid black;} /* Se o botão da esquerda que tá ativo, cria uma bordinha na direita */
.button-header.right.active { border-left: 3px solid black;} /* Se o botão da direita que tá ativo, cria uma bordinha na esquerda */

/* EVENTO ALEATÓRIO DO CAFÉ */

#coffee-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; /* garante que cafés não escapem */
    pointer-events: none;
    z-index: 1000;
}

.coffee-wrapper {
    --time: 5s;
    position: absolute;
    display: block;
    opacity: 0;
    transform: scale(0) rotate(0);

    transform-origin: center;
    will-change: transform;
    transition: opacity var(--time) linear, transform var(--time) ease;
}

.coffee-wrapper.fade-out {
    transition: opacity var(--time) linear, transform var(--time) ease;
}

.coffee {
    display: block;
    width: var(--cs);
    height: var(--cs);
    cursor: pointer;
    background-size: var(--cs) var(--cs);
    background-image: url('./assets/coffee.png');
    background-position: 0 0;

    pointer-events: auto;
    transform-origin: center;
    will-change: transform;
}

.alert-back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 140%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.6); /* fundo escuro com transparência */
    border-radius: 50px;
    filter: blur(10px);
    opacity: .7;
    z-index: 50;
}

.alert-coffee {
    color: rgb(255, 255, 255);
    width: fit-content;
    display: block;
    position: absolute;
    filter: blur(0);
    transform: translate(calc(-50% + var(--cs)/2), 0);
    opacity: 0;

    transition: opacity .5s linear, transform 1s ease-out;
    text-align: center;
}


.alert-text {
    font-size: .9em;
    position: relative;
    z-index: 51;
}

.alert-name {
    font-size: 1.4em;
}

/* Animações do Café */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes tilt {
  0% { rotate: 0deg; }
  17% { rotate: -3deg; }
  34% { rotate: 3deg; }
  51% { rotate: 0deg; }
  68% { rotate: 3deg; }
  85% { rotate: -3deg; }
  100% { rotate: 0deg; }
}

/* MATRIX */

.matrix-canvas {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 1;
    pointer-events: none;
    transition: opacity .5s ease;
}

@starting-style {
    .matrix-canvas { opacity: 0; }
}

/* MODAL */
/* Ainda será implementado */

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100000;
    transition: opacity .2s linear;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: var(--c1b);
    background-color: var(--c3);
    max-width: 450px;
    width: 90vw;
    padding: 1em;
}

.modal-title {
    font-size: 1.5em;
    text-align: center;
}

.modal-warning {
    max-width: 300px;
    opacity: .5;
    font-size: .8em;
}

.modal-form {
    position: relative;
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.modal-error {
    position: absolute;
    transform: translateY(-100%);
    color: #ce3030;
    font-size: .7em;
}

.modal-input {
    background-color: var(--c2);
    border-radius: 5px;
    border: var(--c1b);
    flex-grow: 1;
    font-size: 1em;
    padding: .5em;
    cursor: auto;
    color: white;
}

::placeholder {
    color: white;
    opacity: .5;
}

.modal-submit {
    appearance: none;
    border-radius: 5px;
    border: none;
    background-color: var(--c2);
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: .2em 1em;
    transition: filter .2s ease;
}

.modal-submit:hover {
    filter: brightness(1.1);
}

.modal.disabled {
    display: none;
    pointer-events: none;
    opacity: 0;
}

/* CONTAINER BOOSTS */

.container-boosts {
    display: flex;
    flex-direction: row;
    gap: 1em;
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}

.boost {
    --time: 5s;
    position: relative;
    aspect-ratio: 1/1;
    width: 2.5em;
    border: 5px solid var(--c1);
    background-color: var(--c5);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}

/* Propriedade que serve pra animar o "conic-gradient" (efeito de cooldown) */
@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.boost.cooldown::after {
    opacity: .5;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(transparent 0deg, transparent var(--a), var(--c1) var(--a));
    animation: fill var(--time) linear normal;
    animation-fill-mode: forwards;
    z-index: 100;
}

@keyframes fill {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

/* TOOLTIP */

.mobile-tooltip {
    pointer-events: none;
    display: none;
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .6);
    transition: opacity .2s linear;
}

.mobile-tooltip--content {
    display: flex;
    flex-direction: column;
    gap: .5em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 90dvw;
    max-height: 500px;
    height: 80dvh;
    padding: 0.4em;
    z-index: 10001;

    border-radius: 5px;
    border: var(--c1b);
    background-color: var(--c3);
}

.mobile-tooltip--title {
    font-size: 1.3em;
    width: 100%;
    padding: .2em;
    border-bottom: 1px solid var(--c1);
}

.mobile-tooltip--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: .5em; */
    padding: .2em;
    border-radius: 5px;
    border: var(--c1b);
    width: 100%;
}

.mobile-tooltip--wrapper {
    display: flex;
    flex-direction: column;
    gap: .5em;
    flex: 1;
}

.mobile-tooltip--icon {
    aspect-ratio: 1/1;
    width: 80px;
}

.mobile-tooltip--header-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.mobile-tooltip--name {
    font-size: 1.5em;
}

.close-bttn {
    width: 100%;
    background-color: var(--c5);
    font-size: 1.4em;
    padding: .5em;
    border-radius: 5px;
}

.tooltip {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5em;
    position: absolute;
    background-color: var(--c3);
    padding: 8px 12px;
    border: var(--c1b);
    border-radius: 5px;
    font-size: 1em;
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip.bonus {
    width: 250px;
    font-size: .8em;
}

.tooltip-header {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--c1);
    padding-bottom: 5px;
}

.tooltip-header.center {
    display: block;
}

.tooltip-header--left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.tooltip-icon {
    aspect-ratio: 1/1;
    width: 40px;
}

.tooltip-name {
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
}

.tooltip-header.center .tooltip-name {
    text-align: center;
}

.tooltip-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tooltip-description {
    font-style: italic;
    text-align: right;
    opacity: .6;
}

.tooltip-content:not(:last-child) {
    border-bottom: 1px solid var(--c1);
}

.tooltip-description::before { content: '"'; }
.tooltip-description::after { content: '"'; }

.tooltip-function {
    text-align: left;
}

.tooltip ul, .mobile-tooltip ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tooltip li, .mobile-tooltip li {
    text-align: left;
    font-size: .9em;
    background-color: var(--c2);
    background-size: 50%;
    border-radius: 10px;
}

.tooltip li::before, .mobile-tooltip li::before {
    content: "• ";
}

/* LEADERBOARD */

.leaderboard-wrapper {
    --cont-w: 250px;
    --cont-h: 326px;
    --icon-size: 52px;
    display: flex;
    align-items: flex-start;
    position: fixed;
    left: 0em;
    top: 50%;
    width: calc(var(--cont-w) + var(--icon-size));
    transform: translateX(0) translateY(-50%);
    transform: translateX(calc(-1 * var(--cont-w))) translateY(-50%);
    transition: transform .2s ease;

    overflow: hidden;
    z-index: 200;
}

.leaderboard-icon {
    aspect-ratio: 1/1;
    width: var(--icon-size);
    position: relative;
    left: -3px;
    border-radius: 0 5px 5px 0;
    border: var(--c1b);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-size: cover;
    background-color: var(--c3);
    /* background-image: url('./assets/placeholder.png'); */
}

.lb-svg {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
}

.lb--prev-pos {
    z-index: 1;
    color: white;
    padding: 0 .1em;
}

.leaderboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--cont-w);
    height: var(--cont-h);
    border-radius: 0 0 5px 0;
    border: var(--c1b);
    border-left: none;
    background-color: var(--c3);
}

.leaderboard-content h2 {
    font-size: 1.2em;
    padding: .3em;
    width: 100%;
    border-bottom: var(--c1b);
}

.leaderboard-content ul {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.leaderboard-content li {
    position: absolute;
    /* background-color: var(--c4); */
    font-size: .6em;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: .2em .5em;
    /* margin: 0 0 4px; */
    /* border-radius: 5px; */
    border-bottom: 2px solid var(--c4);
}

.lb-pos { 
    flex-basis: .8em;
    text-align: right;
    /* border-right: var(--c1b); */
 }

.lb-number {
    flex: 1;
    text-align: right;
}
.lb-name { font-size: 1.2em; }

.leaderboard-content li:has(.lb-1), .lb--prev-pos.lb-1 { color: gold; }
.leaderboard-content li:has(.lb-2), .lb--prev-pos.lb-2 { color: silver; }
.leaderboard-content li:has(.lb-3), .lb--prev-pos.lb-3 { color: #C68346; }
.leaderboard-content li:has(.lb-last) {
    top: -2px;
    /* border-bottom: 2px solid var(--c1); */
    border-bottom: none;
    border-top: 2px solid var(--c2);
    color: #914a4a;
}


/* Essa media query funciona somente em dispositivos que possuem hover (eliminando o mobile) */
@media (hover: hover) {
    .button-header:hover {
        color: white;
    }

    .content-item:hover {
        filter: brightness(1.2);
    }

    .content-item:not(:has(.high)):active {
        filter: brightness(1.0)
    }

    .computer-hitbox:hover ~ .computer-keyboard {
        transform: scale(1.05);
        /* Brilho no teclado, que ainda não será implementado */
        /* filter: drop-shadow(0 0 4px var(--c1)) drop-shadow(0 0 8px var(--c1)); */
    }
    .computer-hitbox:active ~ .computer-keyboard { transform: scale(1.0); }

    /* Adiciona um pequeno brilho quando hover */
    .company-text:hover {
        color: white;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--c2), 0 0 40px var(--c2), 0 0 50px var(--c2), 0 0 60px var(--c2), 0 0 70px var(--c2);
    }

    .leaderboard-wrapper:hover {
        transform: translateX(0) translateY(-50%);
    }

    .leaderboard-wrapper:hover .leaderboard-content li {
        transition: transform .2s ease, color .2s ease;
    }
}

/* Responsividade */
/* PRECISA FICAR ABAIXO DE TODO O RESTO */
@media (min-height: 900px) {
    .table {
        min-height: 150px;
        height: 40vh;
    }
}

@media (max-width: 900px) {
    .computer-codelines {
        height: 39%;
        top: 10%;
    }
}

@media (max-width: 800px) {
    :root {
        --cs: 64px;
    }

    html {
        overflow-y: auto;
    }

    body {
        font-size: 1.4rem;
        background-size: auto;
    }

    main {
        position: absolute;
        top: 0;
        padding-top: 5rem;
        flex-direction: column;
        width: 100%;
    }

    .table {
        position: absolute;
        left: 0;
        right: 0;
        top: 460px;
        height: 200px;
        min-height: auto;
    }

    .container-left--header {
        position: sticky;
        top: .5em;
        z-index: 50;
    }

    .container-right--header {
        margin: -1em -.4em;
    }

    .notification {
        right: .8em;
        width: 1.2em;
    }

    .notification::after {
        font-size: 1.1em;
    }

    .container-left--computer {
        max-height: 400px;
        height: 85vw;
    }

    .container-left {
        width: 95%;
    }

    .computer-codelines {
        width: 60%;
        height: 41.2%;
        top: 10.7%;
    }

    .container-right {
        border-radius: 0;
        border: none;
        border-top: 3px solid var(--c1);
        width: 100%;
        max-height: 70dvh;
        padding: 1em .4em;
        flex: 1 0 auto;
    }

    .item-purchased { 
        display: none;
        visibility: hidden;
    }

    .content-item.unlocked .info-bttn, .upgrade .info-bttn { 
        display: block; 
        visibility: visible;
    }

    .item-name {
        font-size: clamp(.9em, 6vw,1.2em);
    }

    .mobile-tooltip {
        display: block;
        visibility: visible;
    }

    .container-boosts {
        /* top: 1em; */
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
    }
}

@media (max-width: 470px) {
    .table {
        top: calc(245px + 46vw);
        height: 43vw;
    }
}