{% load static %} 
<!DOCTYPE html>
<html lang="pt-br">
    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/pc.ico' %}">
    <meta http-equiv="cache-control" content="max-age=0" />

    <title>Dev Clicker</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <!-- O corpo principal do projeto -->
    <main>
        <input type="hidden" name="csrf-token" id="csrf-token" value="{{ csrf_token }}"/>

        <div class="leaderboard-wrapper" id="leaderboard">
            <div class="leaderboard-content">
                <h2>LEADERBOARD</h2>
                <ul></ul>
            </div>
            <div class="leaderboard-icon">
                <span class="lb--prev-pos">1</span>
                <svg class="lb-svg" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="50px" width="50px" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 1c-1.828 0-3.623.149-5.371.435a.75.75 0 0 0-.629.74v.387c-.827.157-1.642.345-2.445.564a.75.75 0 0 0-.552.698 5 5 0 0 0 4.503 5.152 6 6 0 0 0 2.946 1.822A6.451 6.451 0 0 1 7.768 13H7.5A1.5 1.5 0 0 0 6 14.5V17h-.75C4.56 17 4 17.56 4 18.25c0 .414.336.75.75.75h10.5a.75.75 0 0 0 .75-.75c0-.69-.56-1.25-1.25-1.25H14v-2.5a1.5 1.5 0 0 0-1.5-1.5h-.268a6.453 6.453 0 0 1-.684-2.202 6 6 0 0 0 2.946-1.822 5 5 0 0 0 4.503-5.152.75.75 0 0 0-.552-.698A31.804 31.804 0 0 0 16 2.562v-.387a.75.75 0 0 0-.629-.74A33.227 33.227 0 0 0 10 1ZM2.525 4.422C3.012 4.3 3.504 4.19 4 4.09V5c0 .74.134 1.448.38 2.103a3.503 3.503 0 0 1-1.855-2.68Zm14.95 0a3.503 3.503 0 0 1-1.854 2.68C15.866 6.449 16 5.74 16 5v-.91c.496.099.988.21 1.475.332Z" clip-rule="evenodd"></path></svg>
            </div>
        </div>
        <div class="mobile-tooltip"></div>
        <div class="modal">
            <div class="modal-content">
                <span class="modal-title">Qual será o seu nome DEV?</span>
                <span class="modal-warning">(Aparecerá no leaderboard e não será possível alterar depois)</span>
                <form class="modal-form" action="" method="post"> {% csrf_token %}
                    <span class="modal-error"></span>
                    <input class="modal-input" type="text" autocomplete="nickname" placeholder="Ex: Bill Gates 123">
                    <input class="modal-submit" type="submit" value="OK">
                </form>
            </div>
        </div> <!-- Modal que servirá para trocar o nome da empresa -->
        <div class="tooltip"></div>
        <div class="table"></div> <!-- Mesa onde fica o computador -->
        <div id="coffee-container"></div>
        <div class="clicks-container"></div>
        <!-- O container que envolve a seção da esquerda (computador) -->
        <div class="container-left">
            <div class="container-left--header">
                <span class="company-text">Loading...</span>
                <span class="ls-text" id="pontos">0 linhas de código</span>
                <span>por segundo: 0</span>
            </div>
            <div class="container-left--computer">
                <div class="computer computer-back"></div>
                <div class="computer computer-codelines"></div>
                <div class="computer computer-monitor"></div>
                <div class="computer-hitbox" id="click_button"></div>
                <div class="computer computer-keyboard"></div>
                <!-- <div class="computer computer-back glow"></div> -->
            </div>
        </div>
        <!-- O container que envolver a seção da direita (upgrades + estruturas) -->
        <div class="container-right">
            <div class="container-right--header">
                <button class="button-header upgrades left active">
                    <div class="notification"></div>
                    <span class="text">Upgrades</span>
                </button>
                <button class="button-header estruturas right">
                    <div class="notification"></div>
                    <span class="text">Estruturas</span>
                </button>
            </div>
            <div class="container-content">
                <ul class="content-list">
                </ul>
            </div>
        </div>
        <div class="container-boosts">
        </div>
    </main>

    <script src="{% static 'js/backend.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script> <!-- O script que contém a lógica do jogo -->
</body>

</html>